http://{$APP_DOMAIN} {
  encode zstd gzip
  handle_path /bridge/* {
    reverse_proxy bridge:3100
  }
  handle {
    reverse_proxy frontend:80
  }
}

http://{$BRIDGE_DOMAIN} {
  encode zstd gzip
  reverse_proxy bridge:3100
}
